.hero-banner-wrapper .hero-banner {
  margin-top: 2%;
}

.hero-banner-wrapper .hero-carousel {
  position: relative;
  width: 100%;
  height: 30vh;
  z-index: 1; 
}

.hero-banner-wrapper .hero-slides-wrapper {
  position: absolute;
  width: 100%;
  height: 95%;
  overflow: hidden;
}

.hero-banner-wrapper .hero-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 1;
}

.hero-banner-wrapper .hero-slide.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.hero-banner-wrapper .hero-slide.prev {
  transform: translateX(-100%);
  opacity: 0;
  z-index: 1;
}

.hero-banner-wrapper .hero-slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.hero-banner-wrapper .hero-slide-text h1 {
  font-size: var(--heading-font-size-l);
  margin-bottom: var(--gap-small);
  font-weight: 100;
  color: var(--text-color);
}

.hero-banner-wrapper .hero-slide-text p {
  font-size: var(--body-font-size-xs);
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.hero-banner-wrapper .hero-slide-text a.button:any-link {
  padding: 0;
  margin: 0;
  background: none;
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: underline;
}

.hero-banner-wrapper .hero-carousel-indicators {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.hero-banner-wrapper .hero-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #808080;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-banner-wrapper .hero-indicator.active {
  background-color: #000000;
  transform: scale(1.2);
}

@media (width >= 360px) {
  .hero-banner-wrapper .hero-carousel {
    min-height: 400px;
  }

  .hero-banner-wrapper .hero-slide-text {
    width: 75%;
  }

  .hero-banner-wrapper .hero-slide-text h1 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  .hero-banner-wrapper .hero-slide-text p {
    font-size: 0.85rem;
  }
}

@media (width >= 600px) {
  .hero-banner-wrapper .hero-carousel {
    min-height: 700px;
  }

  .hero-banner-wrapper .hero-slide-text {
    width: 60%;
  }

  .hero-banner-wrapper .hero-slide-text h1 {
    font-size: var(--heading-font-size-xl);
    margin-bottom: var(--gap-medium);
  }

  .hero-banner-wrapper .hero-slide-text p {
    font-size: var(--body-font-size-s);
    margin-bottom: var(--gap-large);
  }

  .hero-banner-wrapper .hero-slide-text a.button:any-link {
    font-size: 0.95rem;
  }
}

@media (width >= 900px) {
  .hero-banner-wrapper .hero-carousel-section {
    gap: 0;
  }
  
  .hero-banner-wrapper .hero-slide-text {
    left: 5%;
    transform: translateY(-60%);
    text-align: center;
    width: 40%;
    gap: 25px;
  }

  .hero-banner-wrapper .hero-slide-text h1 {
    font-size: var(--heading-font-size-xxl);
    font-weight: 100;
  }

  .hero-banner-wrapper .hero-slide-text p {
    font-size: var(--body-font-size-m);
  }
}
