h1#top-sellers {
    margin: 2rem 0 4rem;
    font-size: var(--product-heading-font-size);
    font-weight: 100;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

.product-showcase-wrapper .product-card {
    padding: var(--gap-small);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.product-showcase-wrapper .product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.product-showcase-wrapper .product-title {
    font-size: var(--product-title-font-size);
    font-weight: normal;
    color: var(--text-color);
}

.product-showcase-wrapper .product-price {
    margin-bottom: var(--gap-small);
    font-size: var(--product-price-font-size);
    font-weight: bold;
    color: var(--text-color);
}

.product-showcase-wrapper .product-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-showcase-wrapper .add-to-cart {
    padding: 0.35rem 0.6rem;
    background: var(--link-color);
    color: var(--button-text);
    font-size: var(--product-button-font-size);
}

.product-showcase-wrapper .add-to-cart:hover {
    background: var(--link-hover-color);
}

.product-showcase-wrapper .heart-icon {
    width: var(--control-size-small);
    height: var(--control-size-small);
    cursor: pointer;
    color: var(--text-color);
}

.product-showcase-wrapper .heart-icon:hover {
    color: var(--link-hover-color);
}

.product-showcase-wrapper .custom-slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.product-showcase-wrapper .custom-slick-dots li {
    display: flex;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    position: relative;
}

.product-showcase-wrapper .custom-slick-dots li button {
    background: transparent;
}

.product-showcase-wrapper .custom-slick-dots li button:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    top: 0;
    left: 0;
}

.product-showcase-wrapper .custom-slick-dots li.slick-active button:before {
    background-color: rgb(24, 24, 25);
}

@media (width >= 360px) {
    .product-showcase-wrapper .product-card {
        padding: var(--gap-medium);
    }

    .product-showcase-wrapper .product-title {
        font-size: var(--product-title-mobile-font-size);
        margin: 1rem 0;
    }

    .product-showcase-wrapper .product-price {
        font-size: var(--product-price-mobile-font-size);
        margin: 0;
    }

    .product-showcase-wrapper .add-to-cart {
        font-size: var(--product-button-mobile-font-size);
    }

    .product-showcase-wrapper .heart-icon {
        width: 20px;
        height: 20px;
    }
}

@media (width >= 600px) {
    .product-showcase-wrapper .product-title {
        font-size: 1.2rem;
    }

    .product-showcase-wrapper .product-price {
        font-size: 1.1rem;
    }

    .product-showcase-wrapper .heart-icon {
        width: 22px;
        height: 22px;
    }
}

@media (width >= 900px) {
    .product-showcase-wrapper .product-title {
        font-size: var(--heading-font-size-xs);
        margin: 0;
        margin-bottom: 3%;
    }

    .product-showcase-wrapper .product-price {
        font-size: var(--heading-font-size-xs);
        font-weight: 300;
        margin: 0;
    }

    .product-showcase-wrapper .add-to-cart {
        padding: 0.3rem 2.5rem;
        font-size: var(--heading-font-size-xs);
    }

    .product-showcase-wrapper .add-to-cart:hover {
        background: var(--text-color);
    }

    .product-showcase-wrapper .heart-icon {
        width: 24px;
        height: 24px;
    }
}

