footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  border-top: 1px solid #c4c4c4;
}

footer ul {
  display: grid;
  font-weight: 600;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul ul li {
  font-weight: 400;
  color: var(--text-color, #666);
}

.footer-subscribe-input {
  border: 1px solid var(--text-color, #666);
  border-radius: 4px;
}

footer .footer ul > li:has(.icon-VeniaLogo) {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid #c4c4c4;
}

footer .footer ul > li:has(.icon-VeniaLogo) .icon img {
  width: 80%;
  height: 80%;
}

footer .footer ul > li:has(.icon-VeniaLogo) ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

@media (width >= 360px) {
  footer .footer > div {
    padding: 28px 18px 18px;
  }

  footer ul {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  footer ul ul li {
    margin-bottom: 6px;
  }

  footer .footer ul > li:has(.icon-VeniaLogo) {
    margin-top: 26px;
    padding-top: 26px;
  }
}

@media (width >= 600px) {
  footer .footer ul > li:has(.icon-VeniaLogo) {
    margin-top: 28px;
    padding-top: 28px;
  }
}

@media (width >= 900px) {
  footer .footer > div {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 30px 32px 24px;
  }

  footer ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1%;
  }

  footer .icon {
    margin-right: 16px;
  }

  .footer-subscribe-input {
    padding: 10px 14px;
  }

  footer .footer ul > li:has(.icon-VeniaLogo) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  footer .footer ul > li:has(.icon-VeniaLogo) ul {
    flex-direction: row;
    gap: 30px;
  }
}
