.product-details-wrapper .product-details,
.product-details-wrapper .product-display {
    display: flex;
    flex-direction: column;
}

.product-details-wrapper .main-image {
    width: 100%;
}

.product-details-wrapper .main-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-details-wrapper .thumbnails-wrapper {
    display: flex;
}

.product-details-wrapper .thumbnails-wrapper .thumbnail:nth-child(1) {
    box-shadow: var(--thumbnail-shadow);
}

.product-details-wrapper .title-price {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
}

.product-details-wrapper .product-details h2 {
    font-size: var(--heading-font-size-xs);
    color: var(--text-color);
    font-weight: 400;
    font-family: var(--heading-font-family);
}

.product-details-wrapper .product-details .size-selection > h2 {
    font-size: var(--heading-font-size-xs);
    color: var(--text-color);
    font-weight: 400;
}

.product-details-wrapper .color-selection, 
.product-details-wrapper .size-selection, 
.product-details-wrapper .quantity-section {
    border-bottom: 1px solid var(--border-color);
}

.product-details-wrapper .size-selection {
    display: flex;
    flex-direction: column-reverse;
}

.product-details-wrapper .color-selection p {
    font-size: var(--heading-font-size-xs);
}

.product-details-wrapper .color-options, 
.product-details-wrapper .size-options {
    display: flex;
    gap: var(--gap-medium);
}

.product-details-wrapper .color-box {
    width: var(--control-size-large);
    height: var(--control-size-large);
    border-radius: var(--border-radius-small);
}

.product-details-wrapper .size-box {
    width: var(--control-size-large);
    height: var(--control-size-large);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
}

.product-details-wrapper .quantity-controls {
    display: flex;
    align-items: center;
    gap: 2%;
}

.product-details-wrapper .quantity-controls .rounded-btn {
    width: var(--control-size-small);
    height: var(--control-size-small);
    border-radius: 50%;
    border: var(--border-width) solid var(--text-color);
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.product-details-wrapper .squared-input {
    width: 60px;
    height: var(--control-size-small);
    border: var(--border-width) solid var(--text-color);
    border-radius: var(--border-radius-small);
    text-align: center;
    font-size: 1.2rem;
}

.product-details-wrapper .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
}

.product-details-wrapper .action-buttons h2 {
    background-color: var(--button-background);
    color: var(--button-text);
    border-radius: var(--border-radius-large);
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

.product-details-wrapper .action-buttons p {
    display: flex;
    gap: 0.5rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.product-details-wrapper .action-buttons .icon-heart img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

@media (width >= 600px) {
    .product-details-wrapper .product-details,
    .product-details-wrapper .product-display,
    .product-details-wrapper .thumbnails-wrapper {
        gap: var(--gap-large);
    }

    .product-details-wrapper .thumbnails-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .product-details-wrapper .thumbnails-wrapper .thumbnail {
        width: 20%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .product-details-wrapper .title-price h2 {
        font-size: var(--heading-font-size-s);
    }

    .product-details-wrapper .title-price p {
        font-size: 1.2rem;
    }

    .product-details-wrapper .color-box, 
    .product-details-wrapper .size-box {
        width: var(--control-size-medium);
        height: var(--control-size-medium);
    }

    .product-details-wrapper .action-buttons {
        gap: var(--gap-medium);
        margin-top: 1.4rem;
        align-items: flex-start;
    }

    .product-details-wrapper .action-buttons h2 {
        padding: 0.9rem;
        max-width: 300px;
    }

    .product-details-wrapper .action-buttons p {
        justify-content: flex-start;
        padding-left: 0;
    }
}

@media (width >= 900px) {
    .product-details-wrapper .product-details {
        flex-direction: row;
    }

    .product-details-wrapper .product-display {
        flex: 1;
        flex-direction: row-reverse;
    }

    .product-details-wrapper .main-image {
        flex: 4;
    }

    .product-details-wrapper .thumbnails-wrapper {
        flex: 1;
        flex-direction: column;
    }

    .product-details-wrapper .thumbnails-wrapper .thumbnail {
        width: 100%;
    }

    .product-details-wrapper .product-info {
        flex: 1;
    }

    .product-details-wrapper .title-price {
        flex-direction: row;
        justify-content: space-between;
    }

    .product-details-wrapper .action-buttons {
        align-items: center;
    }

    .product-details-wrapper .action-buttons h2 {
        background-color: var(--button-background);
        font-size: var(--heading-font-size-s);
        padding: 0.7rem;
    }
}
